
<br>
<div class="container signupBox">
<h1>Register</h1>
<form name="Form">
<table>

<tr><th><br>Username:</th><td><br> <input ng-model="user.username" required/></td></tr>

<tr><th><br>Password:</th><td><br> <input ng-model="user.password" type="password" required/></td></tr>

<tr><th><br>Confirm Password:</th><td><br>  <input ng-model="user.password2" type="password" required/></td></tr>

<tr><td>
  <br><button ng-click="register(user)">Register</button></td></tr><br>
</table>
</form>

</div>
<br>


<br>

<br>


<br>
