<br>
<br>

<div class="container" >

<form>

<label>SELECT CLASS</label>
<select id="selectClass" class="selectpicker selectClass calculate" data-rule-requried="true" >
  <option value="">SELECT</option>
  <option value="250">Gold -Rs250/-</option>
  <option value="120">Silver-Rs120/-</option>
</select>

</form>
<br>

<from> <label>SELECT NO. SEATS</label>
  <select id="selectSeats" class="selectpicker selectSeats calculate" data-rule-requried="true">
    <option value=""></option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>

</form>
</div>

<br>


<div class="container">
<div class="row">
  <div  class="col-sm-8">
    <div class="gold" id ="gold">
<div class="rowA" id="rowA">
<label> GOLD SEATS</label>
  <form id="RowA" name="RowA" >
  <input type="checkbox" class="gldCls" value="A1"> A1</input>
  <input type="checkbox" class="gldCls" value="A2"> A2</input>
  <input type="checkbox" class="gldCls" value="A3"> A3</input>
  <input type="checkbox" class="gldCls" value="A4"> A4</input>
  <input type="checkbox" class="gldCls" value="A5"> A5</input>
  <input type="checkbox" class="gldCls" value="A6"> A6</input>
  <input type="checkbox" class="gldCls" value="A7"> A7</input>
  <input type="checkbox" class="gldCls" value="A8"> A8</input>
</form>
</div>
<div class="rowB" id="rowB">
  <input type="checkbox" class="gldCls" value="B1"> B1</input>
  <input type="checkbox" class="gldCls" value="B2"> B2</input>
  <input type="checkbox" class="gldCls" value="B3"> B3</input>
  <input type="checkbox" class="gldCls" value="B4"> B4</input>
  <input type="checkbox" class="gldCls" value="B5"> B5</input>
  <input type="checkbox" class="gldCls" value="B6"> B6</input>
  <input type="checkbox" class="gldCls" value="B7"> B7</input>
  <input type="checkbox" class="gldCls" value="B8"> B8</input>
</div>
<div class="rowC" id="rowC">
  <input type="checkbox" class="gldCls" value="C1"> C1</input>
  <input type="checkbox" class="gldCls" value="C2"> C2</input>
  <input type="checkbox" class="gldCls" value="C3"> C3</input>
  <input type="checkbox" class="gldCls" value="C4"> C4</input>
  <input type="checkbox" class="gldCls" value="C5"> C5</input>
  <input type="checkbox" class="gldCls" value="C6"> C6</input>
  <input type="checkbox" class="gldCls" value="C7"> C7</input>
  <input type="checkbox" class="gldCls" value="C8"> C8</input>


</div>
<hr class="line">
 <label>SILVER SEATS</label>
<div class="rowD" id="rowD">
  <input type="checkbox" class="slrCls" value="D1"> D1</input>
  <input type="checkbox" class="slrCls" value="D2"> D2</input>
  <input type="checkbox" class="slrCls" value="D3"> D3</input>
  <input type="checkbox" class="slrCls" value="D4"> D4</input>
  <input type="checkbox" class="slrCls" value="D5"> D5</input>
  <input type="checkbox" class="slrCls" value="D6"> D6</input>
  <input type="checkbox" class="slrCls" value="D7"> D7</input>
  <input type="checkbox" class="slrCls" value="D8"> D8</input>
</div>
<div class="rowE" id="rowE">
  <input type="checkbox" class="slrCls" value="E1"> E1</input>
  <input type="checkbox" class="slrCls" value="E2"> E2</input>
  <input type="checkbox" class="slrCls" value="E3"> E3</input>
  <input type="checkbox" class="slrCls" value="E4"> E4</input>
  <input type="checkbox" class="slrCls" value="E5"> E5</input>
  <input type="checkbox" class="slrCls" value="E6"> E6</input>
  <input type="checkbox" class="slrCls" value="E7"> E7</input>
  <input type="checkbox" class="slrCls" value="E8"> E8</input>
</div>
<div class="rowF" id="rowF">
  <input type="checkbox" class="slrCls" value="F1"> F1</input>
  <input type="checkbox" class="slrCls" value="F2"> F2</input>
  <input type="checkbox" class="slrCls" value="F3"> F3</input>
  <input type="checkbox" class="slrCls" value="F4"> F4</input>
  <input type="checkbox" class="slrCls" value="F5"> F5</input>
  <input type="checkbox" class="slrCls" value="F6"> F6</input>
  <input type="checkbox" class="slrCls" value="F7"> F7</input>
  <input type="checkbox" class="slrCls" value="F8"> F8</input>
</div>
<div class="rowG" id="rowG">
  <input type="checkbox" class="slrCls" value="G1"> G1</input>
  <input type="checkbox" class="slrCls" value="G2"> G2</input>
  <input type="checkbox" class="slrCls" value="G3"> G3</input>
  <input type="checkbox" class="slrCls" value="G4"> G4</input>
  <input type="checkbox" class="slrCls" value="G5"> G5</input>
  <input type="checkbox" class="slrCls" value="G6"> G6</input>
  <input type="checkbox" class="slrCls" value="G7"> G7</input>
  <input type="checkbox" class="slrCls" value="G8"> F8</input>
</div>
</div>
</div>

<div class="col-md-4">
<table class="table table-bordered table-hover">
      <tr>
        <th>Ticket Price:
          <td><textarea id="seatCls" disabled="disabled"></textarea></td>
        </th>
      </tr>
      <tr>
        <th>Total Seats:
          <td><textarea id="noOFSeats" disabled="disabled"></textarea></td>
        </th>
        <tr>
        <th>Total Amount:
        </th>
        <td><textarea id="totalAmount" disabled="disabled"></textarea></td>
      </tr>
    </table>
      <center><a href="/payment" ng-click="setShow()" class="btn btn btn-primary" role="button">Proceed</a></center><br>
    </div>
  </div>
</div>
